In [13]:
#匯入資料 
#This is a synthetic data set of 40 features, representing objects from two classes (labeled as 0 or 1). 
#The training set has 1000 samples and the testing set has 9000.
# https://www.kaggle.com/c/data-science-london-scikit-learn/data
import pandas as pd
data_path = 'data/'
df_train = pd.read_csv(data_path + 'train.csv', header=None) #header=None 資料沒有表頭
df_test = pd.read_csv(data_path + 'test.csv', header=None)
df_trainLabels = pd.read_csv(data_path + 'trainLabels.csv', header=None)
print(df_train.shape)
print(df_test.shape)
print(df_trainLabels.shape)

(1000, 40)
(9000, 40)
(1000, 1)

In [14]:
df_train.info() #沒有missing DATA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
0     1000 non-null float64
1     1000 non-null float64
2     1000 non-null float64
3     1000 non-null float64
4     1000 non-null float64
5     1000 non-null float64
6     1000 non-null float64
7     1000 non-null float64
8     1000 non-null float64
9     1000 non-null float64
10    1000 non-null float64
11    1000 non-null float64
12    1000 non-null float64
13    1000 non-null float64
14    1000 non-null float64
15    1000 non-null float64
16    1000 non-null float64
17    1000 non-null float64
18    1000 non-null float64
19    1000 non-null float64
20    1000 non-null float64
21    1000 non-null float64
22    1000 non-null float64
23    1000 non-null float64
24    1000 non-null float64
25    1000 non-null float64
26    1000 non-null float64
27    1000 non-null float64
28    1000 non-null float64
29    1000 non-null float64
30    1000 non-null float64
31    1000 non-null float64
32    1000 non-null float64
33    1000 non-null float64
34    1000 non-null float64
35    1000 non-null float64
36    1000 non-null float64
37    1000 non-null float64
38    1000 non-null float64
39    1000 non-null float64
dtypes: float64(40)
memory usage: 312.6 KB

In [15]:
df_train.describe()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.025596,-0.024526,-0.024088,-0.002271,1.092329,-0.006250,0.497342,-0.037883,0.026391,-0.003597,...,0.030651,0.022951,-0.542491,-0.011608,-0.483507,0.033371,0.567185,0.006849,-0.892659,0.609451
std,1.008282,1.016298,0.979109,0.970575,4.538834,0.989128,2.118819,2.232256,1.001064,1.013520,...,1.011645,1.001375,2.239939,1.022456,2.121281,1.007044,2.227876,0.997635,2.022022,2.045439
min,-3.365711,-3.492086,-2.695602,-3.460471,-16.421901,-3.041250,-7.224761,-6.509084,-3.145588,-2.749812,...,-3.379194,-2.971125,-7.840890,-2.999564,-7.124105,-2.952358,-5.452254,-3.473913,-8.051722,-7.799086
25%,-0.669010,-0.693937,-0.698830,-0.617557,-1.801997,-0.732265,-0.838619,-1.604037,-0.677562,-0.682220,...,-0.659457,-0.696032,-2.121943,-0.664550,-1.879247,-0.642861,-1.059786,-0.691162,-2.220126,-0.565041
50%,0.027895,-0.033194,0.008145,0.002327,0.862818,0.027041,0.582321,0.018809,0.022092,-0.036110,...,0.049416,0.049778,-0.568262,-0.028097,-0.493575,0.037732,0.455474,0.038284,-0.855470,0.779944
75%,0.762520,0.682753,0.661434,0.640743,3.843172,0.671456,1.913664,1.438304,0.741310,0.665364,...,0.747031,0.699917,0.939348,0.651374,1.005795,0.691800,2.122157,0.693535,0.388698,1.992193
max,3.326246,3.583870,2.546507,3.088738,17.565345,3.102997,7.592666,7.130097,3.145258,3.919426,...,2.844792,3.688047,7.160379,3.353631,6.005818,3.420561,6.603499,3.492548,5.774120,6.803984

In [28]:
from sklearn import metrics
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier
# 切分訓練集/測試集

x, y = df_train, np.ravel(df_trainLabels)   #DataConversionWarning: A column-vector y was passed when a 1d array was expected. 
#Please change the shape of y to (n_samples, ), for example using ravel().
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=4)

# 建立模型
clf = GradientBoostingClassifier()

# 預設模型準確率
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

acc = metrics.accuracy_score(y_test, y_pred)
print("Acuuracy: ", acc)

Acuuracy:  0.892

In [20]:
# 設定要訓練的超參數組合
n_estimators = [50, 100, 150]
max_depth = [1, 3, 5]
param_grid = dict(n_estimators=n_estimators, max_depth=max_depth)

## 建立搜尋物件，放入模型及參數組合字典 (n_jobs=-1 會使用全部 cpu 平行運算)
grid_search = GridSearchCV(clf, param_grid, scoring="neg_mean_squared_error", n_jobs=-1, verbose=1)

# 開始搜尋最佳參數
grid_result = grid_search.fit(x_train, y_train)

Fitting 3 folds for each of 9 candidates, totalling 27 fits

[Parallel(n_jobs=-1)]: Done  27 out of  27 | elapsed:    5.6s finished
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [21]:
# 印出最佳結果與最佳參數
print("Best Accuracy: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

Best Accuracy: -0.129333 using {'max_depth': 5, 'n_estimators': 50}

In [22]:
# 使用最佳參數重新建立模型
clf_bestparam = GradientBoostingClassifier(max_depth=grid_result.best_params_['max_depth'],
                                           n_estimators=grid_result.best_params_['n_estimators'])

# 訓練模型
clf_bestparam.fit(x_train, y_train)

# 預測測試集
y_pred2 = clf_bestparam.predict(x_test)

acc = metrics.accuracy_score(y_test, y_pred2)
print("Acuuracy: ", acc)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Acuuracy:  0.9

In [41]:
test_y = clf_bestparam.predict(df_test)
test_y

array([1, 0, 1, ..., 1, 0, 1], dtype=int64)

In [42]:
myDataFrame = pd.DataFrame(test_y,columns=['Solution'],dtype=int)
index_column = np.arange(1,9001)
myDataFrame['Id'] = index_column
myDataFrame.index.name = 'Id'
myDataFrame

      Solution    Id
Id
0            1     1
1            0     2
2            1     3
3            0     4
4            0     5
5            0     6
6            0     7
7            1     8
8            0     9
9            0    10
10           1    11
11           1    12
12           0    13
13           0    14
14           0    15
15           1    16
16           0    17
17           1    18
18           1    19
19           0    20
20           0    21
21           1    22
22           0    23
23           0    24
24           1    25
25           1    26
26           1    27
27           0    28
28           1    29
29           0    30
...        ...   ...
8970         0  8971
8971         0  8972
8972         1  8973
8973         0  8974
8974         1  8975
8975         1  8976
8976         0  8977
8977         1  8978
8978         1  8979
8979         1  8980
8980         1  8981
8981         1  8982
8982         0  8983
8983         0  8984
8984         0  8985
8985         1  8986
8986         0  8987
8987         0  8988
8988         1  8989
8989         0  8990
8990         0  8991
8991         1  8992
8992         0  8993
8993         1  8994
8994         1  8995
8995         0  8996
8996         1  8997
8997         1  8998
8998         0  8999
8999         1  9000

[9000 rows x 2 columns]

In [43]:
myDataFrame.to_csv('Submission_.csv', index=False)